<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Loop over the collection of products. -->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
                        </a>
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn">Add to Cart</a>
                    </div>
                </div>
                <!-- If no products are found, then we shall display a message. -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    <!-- In the above code, the "role" tag provides Accessibility. -->
                    No products found.
                </div>
            </div>
            
            <!-- Adding Pagination as a Footer - Begin. -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                (pageChange)="listProducts()">
                                                <!-- Here, in the LHS, the Parameters are for ngb-pagination component where in the RHS,
                                                     we haev the Properties for the ProductListComponent. Also, this page changes using
                                                     the Event-binding pageChange Event. -->
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Adding Pagination as a Footer - End. -->
        </div>
    </div>
</div>