<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Loop over the collection of products. -->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ tempProduct.id }}" target="_blank">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
                        </a>
                        <a routerLink="/products/{{ tempProduct.id }}" target="_blank">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn">Add to Cart</a>
                    </div>
                </div>
                <!-- If no products are found, then we shall display a message. -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    <!-- In the above code, the "role" tag provides Accessibility. -->
                    No products found.
                </div>
            </div>
        </div>
    </div>
</div>